# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Nuxt build output
.output
.nuxt
dist

# Misc
.DS_Store
*.local
.env
.env.local
.env.*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
